---
import Layout from "@layouts/layout.astro"

const { slug } = Astro.params;

let res = await fetch(`${import.meta.env.PUBLIC_CMS}wp-json/wp/v2/posts?slug=${slug}&_embed`)
let post = await res.json()

if (!post[0])
  return Astro.redirect('/404')
---

<Layout
  title={post[0].title.rendered}
  description={post[0].yoast_head_json.description}
  type={post[0].yoast_head_json.og_type}
  author={post[0].yoast_head_json.author}
  og_width={post[0].yoast_head_json.og_image[0].width}
  og_url={Astro.request.url}
  og_height={post[0].yoast_head_json.og_image[0].height}
  og_image={post[0].yoast_head_json.og_image[0].url}
  canonical={Astro.request.url}
  publish_time={post[0].yoast_head_json.article_published_time}
  modified_time={post[0].yoast_head_json.article_modified_time}
  og_image_type={post[0].yoast_head_json.og_image[0].type}
  estimate_read_time={post[0].yoast_head_json.twitter_misc["Est. reading time"]}>
  <header class="page-header wow fadeInUp" data-wow-delay="0.5s" data-background={post[0]._embedded["wp:featuredmedia"][0].source_url}>
    <div class="container">
      <div class="bosluk3"></div>
      <p>
        <a href="/" class="headerbreadcrumb">Home</a>
        <i class="flaticon-right-chevron"></i>Services
      </p>
    </div>
    <!-- end container -->
  </header>
  <section class="paketler-alani" data-background="#ffffff">
    <div class="bosluk3"></div>
    <div class="bosluk3"></div>
    <div class="tabloozellik">
      <div class="tablo--1-ve-1">
        <h2 class="h2-baslik-anasayfa-ozel wow fade text-center">
          {post[0].title.rendered}
        </h2>
        <div class="bosluk333"></div>
        <div class="wow fade display-6" set:html={post[0].content.rendered}></div>
      </div>
    </div>
  </section>
</Layout>
